body {
  margin: 0 auto;
}
h1 {
font-size: 50px;
text-align: center;
margin: 0;
padding: 15px;
border-bottom: none;
}
h2 {
  color: white;
  text-align: center;
  font-size: 30px;
}
dl {
  display: block;
  margin-top: 1em;
  margin-bottom: 5em;
  margin-left: 5em;
  margin-right: 20em;
}
li {
  padding: 10px;
}
table, th, td {
  border:2px solid white;
  border-collapse: collapse;
  color: white;
  text-align: center;
}
th, td { padding:10px 10px; 
}
ul {
border-top: 2px solid gray;
border-right: 2px solid gray;
border-bottom: 2px solid gray;
width: 175px;
margin: 0;
padding: 3em;
padding-left: 20px;
padding-right: 50px;
padding-top: 10px;
line-height: 300%;
}
#grid{  
  display: grid;
  grid-template-columns: 250px 2fr;
  }
  @media(max-width :800px){
  #grid {
      display: block;
      margin: 0;
  }
}
@media(max-width :800px){
#wrapper{
  height: auto;
  min-height: 100%;
  padding-bottom: (10px);
}
footer{
  height: (20px);
  position : relative;
  transform : translateY(-100%);
}
}