body {
    margin: 0;
  }
  h1 {
  font-size: 50px;
  text-align: center;
  margin: 0;
  padding: 15px;
  }


  dl {
    display: block;
    margin-top: 1em;
    margin-bottom: 5em;
    margin-left: 5em;
    margin-right: 20em;
  }
  li {
    padding: 10px;
  }
  
  
  ul {
  border-top: 2px solid gray;
  border-right: 2px solid gray;
  width: 175px;
  margin: 0;
  padding: 3em;
  padding-left: 20px;
  padding-right: 50px;
  padding-top: 10px;
  }

  #grid{
  
  display: grid;
  grid-template-columns: 250px 1fr;
  }
  
  @media(max-width :800px){
  #grid {
      display: block;
  }
  h1 {
      border-bottom: none;
  }
  #wrapper{
    height: auto;
    min-height: 100%;
    padding-bottom: (10px);
  }
  footer{
    height: (10px);
    position : relative;
    transform : translateY(-100%);
  }
  }